.div-cls{
    width: 380px;
    height: 5px;
    margin: auto;
    background-color: black;
}
.home-container{
    display: flex;
}
.home-description{
    margin-top: 30px;
    align-items: center;
}
.header-all{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB_yqx7dSiiZgiD5ggyo26chYmGDJHa-bZVA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: violet;
    margin: 0px;
    padding: 50px;
}
.title{
    text-align: justify;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 3rem;
}
.p-title{
    text-align: justify;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.9rem;
}
.btn-visit{
    background-color: black;
    padding: 15px;
    color: white;
    width: 200px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.5s;

}
.btn-visit:hover{
    background-color: yellow;
    border:2px solid black;
    color: black;
}