.title h2 {
    text-align: center;
    background-color: #2C2A96;
    padding: 50px;
    color: white;
  }
  /* .container contract{
      color: black;
      text-align: center;
  } */
  .contract h4 ,p{
    color: black;
  }
  .contract h1 {
    color: black;
    padding: 30px 0px;
  }
  .contract{
      text-align: center;
      font-size: 20px;
  }
  .contract span {
    color: black;
  }
  .btnn{
      background-color: black;
      padding: 6px;
      border-radius: 50px;
      border: 2px solid black;
      color: white;
      font-size: 18px;
      font-weight: 700;
  }
  .btnn:hover{
      background-color: yellow;
      border: 2px solid black;
  }
 